{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5"><b>M</b>ulti <b>I</b>nformation <b>C</b>ombination <b>L</b>ogic <b>Alg</b>orithm <b>Elo</b>ranking</h1>
    <p class="lead">The following tool supports you in comparing algorithms evaluated by different papers, helping you to find the optimal algorithm for your application. To see how that works you can download the following performance tables:</p>
    <ul>
        <li><a class="link-dark link-opacity-75-hover" href="https://storage.googleapis.com/examplefiles/KhuriwalAndMishra2018.xlsx">Breast Cancer Diagnosis Using Deep Learning Algorithm (Khuriwal & Mishra 2018)</a></li>
        <li><a class="link-dark link-opacity-75-hover" href="https://storage.googleapis.com/examplefiles/NajiEtAl2021.xlsx">Machine Learning Algorithms For Breast Cancer Prediction And Diagnosis (Naji et al., 2021)</a></li>
        <li><a class="link-dark link-opacity-75-hover" href="https://storage.googleapis.com/examplefiles/SalamaEtAl2012.xlsx">Experimental Comparison of Classifiers for Breast Cancer Diagnosis (Salama et al., 2012)</a></li>
    </ul>
    <p class="lead">After downloading the files, you can upload them in the next step and start the comparison.</p>
    <a class="btn btn-primary btn-lg" href="/app" role="button">Start Comparison</a>
</div>
{% endblock %}